# Regras gerais para todos os projetos Node.js
node_modules/
package-lock.json
yarn.lock
.npm/
*.log

# Diretórios temporários e de build
dist/
build/
.tmp/
.cache/

# Backend específico
/backend/.env
/backend/node_modules/
/backend/package-lock.json

# Frontend específico
/frontend/.next
/frontend/node_modules/
/frontend/package-lock.json
/frontend/out

# Mobile específico (Expo)
 /mobile/.expo/
/mobile/.expo-shared/
/mobile/node_modules/
/mobile/package-lock.json
/mobile/*.apk
/mobile/*.aab

# Configurações de editores e ferramentas
.idea/
.vscode/
*.swp

# Logs e relatórios de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.*
